.subheader{
	padding: 0 80px;
	display: flex;
	height: 40px;
	line-height: 40px;
	background-color: $yellow;
	flex-direction: column;
	justify-content: center;

	.menu__item{
		display: flex;
		align-items: center;
		gap: 8px;

		.icon {
			font-size: 32px;
		}
	}
	.icon-icon-right  {
		font-size: 28px;
	}
	.icon-icon-left{
		font-size: 28px;
	}
}
.subheader .slick-slider{
	display: flex;
}

.slick-list {
	overflow: hidden;
}

.slick-slide{
	justify-content: center;
	display: flex;
}
