<!------------------------------------------------Shop Our Bestseller-------------------------------------------------->
<section class="sec4">
  <h1>Shop Our Bestseller</h1>
  <div class="row5">
    <div class="sec4grid">
      <img class="image" src="img/image1.png">
      <img class="like" src="img/to-wish.png">
      <p>Magic Bird - 6 Pages Mini Quiet Book</p>
      <h4>€39,99</h4>
      <button>Add to cart</button>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image2.png">
      <img class="like" src="img/to-wish.png">
      <p>Little Bee - 6 Pages Mini Quiet Book</p>
      <h4>€39,99</h4>
      <button>Add to cart</button>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image3.png">
      <img class="like" src="img/to-wish.png">
      <p>Jolly Baby - 6 pages Mini Quiet Book </p>
      <h4>€39,99</h4>
      <button>Add to cart</button>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image4.png">
      <img class="like" src="img/to-wish1.png">
      <p>Globetrotter - Quiet Book</p>
      <h4>€79,99</h4>
      <button>Add to cart</button>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image2.png">
      <img class="like" src="img/to-wish.png">
      <p>Little Bee - 6 Pages Mini Quiet Book</p>
      <h4>€39,99</h4>
      <button>Add to cart</button>
    </div>
  </div>
  <div class="i-b">
    <div class="dot  act"></div>
    <div class="dot act dot1"></div>
    <div class="dot act dot1"></div>
    <div class="dot act dot1"></div>
    <div class="dot act dot1"></div>
  </div>
</section>
