<!------------------------------------------------Follow us-------------------------------------------------->
<section class="sec8">
  <h1>Follow us</h1>
  <img class="imag1sec8" src="img/kids-element-1.png">
  <img class="imag2sec8" src="img/kids-element-5.png">
  <img class="imag3sec8" src="img/kids-element-6.png">
  <p> in our journey in helping children get to their full potential, one book at a time!</p>
  <img src="img/instagram.png">
  <span>@jollydesigns</span>
</section>
<div class="gallery">
  <img class="image" src="img/image11.png">
  <img class="image" src="img/image12.png">
  <img class="image" src="img/image13.png">
  <img class="image" src="img/image14.png">
  <img class="image" src="img/image15.png">
  <img class="image" src="img/image16.png">
</div>
