<footer class="footer">
	<!------------------------------------------------Padding-------------------------------------------------->
	<section class="Padding">
		<div class="content">
			<div class="row4">
				<div>
					<h2>JOLLY DESIGNS Ltd.</h2>
					<p>Jolly Designs GmbH stands for unique, magical and wonderful toys. Our products range from Quiet Books, cute accessories for toddlers to wall decor for the nursery.We offer high quality, innovative and responsible products for curious and imaginative little minds.</p>
				</div>
				<div>
					<h2>JOLLY DESIGNS Ltd.</h2>
					<p>Terms of use</p>
					<p>Delivery</p>
					<p>Privacy and data protection</p>
					<p>Return</p>
					<p>Cancellation policy</p>
					<p>Imprint</p>
					<p>Payment methods</p>
					<p>General terms and conditions</p>
					<p>Refund Policy</p>
				</div>
				<div>
					<h2>About Us</h2>
					<p>Our History</p>
					<p>About Us</p>
					<p>Manufacturing Process</p>
					<p>Trade Fairs</p>
					<p>Quiet Books Blog</p>
				</div>
				<div>
					<h2>Newsletter</h2>
					<input type="email" placeholder="E-mail">
					<button>Subscribe</button>
					<br>
					<span>Create account</span>
					<span>B2B Log-in</span>
				</div>
			</div>
		</div>
		<div class="footBar">
			<div class="row">
				<div>
					<img class="fb" src="img/fb1.png">
					<img class="fb" src="img/fb2.png">
					<img class="fb" src="img/fb3.png">
					<img class="fb" src="img/fb4.png">
					<img class="fb" src="img/fb5.png">
					<img class="fb" src="img/fb6.png">
					<img class="fb" src="img/fb7.png">
					<img class="fb" src="img/fb8.png">
					<img class="fb" src="img/fb9.png">
				</div>
				<div>
					© 2022, Jolly Designs
				</div>
				<div>
					<span class="fs icon-FS1"></span>
					<span class="fs icon-FS2"></span>
					<span class="fs icon-FS3"></span>
					<span class="fs icon-FS4"></span>
					<span class="fs icon-FS5"></span>
					<span class="fs icon-FS6"></span>
				</div>
			</div>
		</div>
	</section>
</footer>
