<header class="header">
	<section>
		<div class="row AnnBar header">
			<div class="col AnnBar">
				<div  class="inl">
					<img src="img/icon-phone.png">
					+49 61729452910
				</div>
				<div class="inl">
					EN
				</div>
			</div>

			<div class="col">
				<img src="img/Jolly-designs-logo_3602x 1.png">
			</div>

			<div class="col">
				<div class="inl m-l">
					<img src="img/icon-search.png">
				</div>
				<div class="inl m-l">
					<img src="img/icon-user.png">
				</div>
				<div class="inl m-l">
					<img src="img/Majesticons premium icons for designers and developers _ Homepage-7 (1).png">
					<span class="counter inl">6</span>
				</div>
				<div class="inl m-l">
					<img src="img/Majesticons premium icons for designers and developers _ Homepage-7.png">
					<span class="counter inl">2</span>
				</div>
			</div>
		</div>
		<!------------------------------------------------menu-------------------------------------------------->
		<div class="AnnBar header menu">
			<div class="inl">
					<div class="dropdown">
						<span>Products</span>
							<div class="dropdown-content">
								<p>Quiet Books</p>
								<p>Mini Quiet Books</p>
								<p>Booklets</p>
								<p>Wooden Toys</p>
								<p>Wall decorations</p>
							</div>
					</div>
			</div>
			<div class="inl">Child Development</div>
			<div class="inl">What are Quiet Books</div>
			<div class="inl">Blog</div>
			<div class="inl">About Us<img src="img/Triangle-down.png"></div>
			<div class="inl">Support<img src="img/Triangle-down.png"></div>
			<div class="inl">Where to Find Us</div>
		</div>
	</section>
</header>
