<!-----------------------------------------Meet the Jolly Family----------------------------------------------->
<section class="sec6">
  <div class="pgn">
    <div class="activity">Meet the Jolly Family</div>
    <div>Meet the Team</div>
    <div>Meet the Production</div>
  </div>
  <img class="imag1sec6" src="img/kids-element-1.png">
  <h1>Meet the Jolly Family!</h1>
  <p>About our story, values & mission</p>
  <div class="sld">
    <img src="img/sec6VectorL.png">
    <img class="p-40" src="img/sec6photo.png">
    <img src="img/sec6VectorR.png">
    <button>learn more</button>
  </div>
</section>
