<!------------------------------------------------Slider-------------------------------------------------->
<section class="slider">
    <div class="mainslider">
        <div class="BGslider">
            <div class="PositionSlider">
                <div class="inl">
                    <h1>Discover the new way of playing</h1>
                    <button>Shop now</button>
                    <button>About us</button>
                </div>
            </div>
            <img class="imag1" src="../img/kids-element-1.png">
            <img class="imag2" src="../img/kids-element-2.png">
            <img class="imag3" src="../img/kids-element-3.png">
        </div>
        <div class="BGslider">
            <div class="PositionSlider">
                <div class="inl">
                    <h1>Discover the new way of playing</h1>
                    <button>Shop now</button>
                    <button>About us</button>
                </div>
            </div>
            <img class="imag1" src="../img/kids-element-1.png">
            <img class="imag2" src="../img/kids-element-2.png">
            <img class="imag3" src="../img/kids-element-3.png">
        </div>
        <div class="BGslider">
            <div class="PositionSlider">
                <div class="inl">
                    <h1>Discover the new way of playing</h1>
                    <button>Shop now</button>
                    <button>About us</button>
                </div>
            </div>
            <img class="imag1" src="../img/kids-element-1.png">
            <img class="imag2" src="../img/kids-element-2.png">
            <img class="imag3" src="../img/kids-element-3.png">
        </div>
        <div class="BGslider">
            <div class="PositionSlider">
                <div class="inl">
                    <h1>Discover the new way of playing</h1>
                    <button>Shop now</button>
                    <button>About us</button>
                </div>
            </div>
            <img class="imag1" src="../img/kids-element-1.png">
            <img class="imag2" src="../img/kids-element-2.png">
            <img class="imag3" src="../img/kids-element-3.png">
        </div>
        <div class="BGslider">
            <div class="PositionSlider">
                <div class="inl">
                    <h1>Discover the new way of playing</h1>
                    <button>Shop now</button>
                    <button>About us</button>
                </div>
            </div>
            <img class="imag1" src="../img/kids-element-1.png">
            <img class="imag2" src="../img/kids-element-2.png">
            <img class="imag3" src="../img/kids-element-3.png">
        </div>
    </div>
</section>
