<div class="discover_new">
	<div class="discover_content">
		<div class="discover_title">
			<img src="img/svg/icons/stripes.svg" alt="" class="stripes">
			<h1 class="big_title color-white">Discover the new way of playing</h1>
			<img src="img/svg/icons/star.svg" alt="" class="star">
			<img src="img/svg/icons/rainbow.svg" alt="" class="rainbow">
		</div>
		<div class="discover_buttons">
			<a class="pink_button" href="#">Shop now</a>
			<a class="yellow_button" href="#">About us</a>
		</div>
	</div>
	<div class="discover_slider">
		<div class="discover_item">
			<img class="discover_item_photo" src="img/discover_new1.png" alt="">
		</div>
		<div class="discover_item">
			<img class="discover_item_photo" src="img/discover_new1.png" alt="">
		</div>
		<div class="discover_item">
			<img class="discover_item_photo" src="img/discover_new1.png" alt="">
		</div>
		<div class="discover_item">
			<img class="discover_item_photo" src="img/discover_new1.png" alt="">
		</div>
		<div class="discover_item">
			<img class="discover_item_photo" src="img/discover_new1.png" alt="">
		</div>
	</div>
</div>
