<!------------------------------------------------Slider-------------------------------------------------->
<section class="slider">
    <div class="PositionSlider">
        <div class="inl">
            <img src="img/Chevron-left-large.png">
        </div>
        <div class="inl">
            <h1>Discover the new way of playing</h1>
            <button>Shop now</button>
            <button>About us</button>
        </div>
        <div class="inl">
            <img src="img/Chevron-right-large.png">
        </div>
    </div>
    <div class="i-b">
        <div class="dot act"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>

    <img class="imag1" src="img/kids-element-1.png">
    <img class="imag2" src="img/kids-element-2.png">
    <img class="imag3" src="img/kids-element-3.png">
</section>
