<!------------------------------------------------OQB-------------------------------------------------->
<section>
    <div class="sec2">
        <div class="row">
            <div class="sec2head">
                <h1>Our Quiet Books</h1>
                <img class="imag1sec2" src="../img/Group.png">
            </div>
            <div class="sec2page">
                <p>are developed by child experts to improve your children's fine motor development</p>
            </div>
        </div>
    </div>
</section>
