<!------------------------------------------------Our Categories-------------------------------------------------->
<section class="sec7">
  <h1>Our Categories</h1>
  <img class="imag1sec7" src="img/Group.png">
  <div class="row5">
    <div class="sec4grid">
      <img class="image" src="img/image27.png">
      <p>Quiet Books</p>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image28.png">
      <p>Mini Quiet Books</p>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image29.png">
      <p>Booklets </p>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image30.png">
      <p>Wooden Toys</p>
    </div>
    <div class="sec4grid">
      <img class="image" src="img/image31.png">
      <p>Wall decorations</p>
    </div>
  </div>
</section>
