<!-----------------------------------------Book response----------------------------------------------->
<section class="sec5">
  <div class="row2">

    <div class="leftR">

      <div class="LeftArrow LApos"><img src="img/Vector1.png"></div>

      <div class="MainR">
        <img src="img/image1.png">
        <p>The Favorite Over Partners</p>
        <img src="img/Frame61.png">
        <h1>Angelina Bork</h1>
        <div>Brings' color in the children's room but also ideally suited for the living room or bedroom. With our hand-woven wall rug, the home becomes even more of a feel-good oasis.</div>
      </div>

    </div>

    <div class="rightR">

      <div class="MainR">
        <img src="img/image2.png">
        <p>The Favorite Over Partners</p>
        <img src="img/Frame62.png">
        <h1>Monica Rendel</h1>
        <div>Brings' color in the children's room but also ideally suited for the living room or bedroom. With our hand-woven wall rug, the home becomes even more of a feel-good oasis.</div>
      </div>'

      <div  class="LeftArrow RApos"><img src="img/Vector2.png"></div>

    </div>

  </div>
</section>
