<!------------------------------------------------Retailer Stores-------------------------------------------------->
<section class="sec9">
  <h1>Retailer Stores</h1>
  <div class="row4">
    <img class="image" src="img/gal1.png">
    <img class="image" src="img/gal2.png">
    <img class="image" src="img/gal3.png">
    <img class="image" src="img/gal4.png">
    <img class="image" src="img/gal5.png">
    <img class="image" src="img/gal6.png">
    <img class="image" src="img/gal7.png">
    <img class="image" src="img/gal8.png">
  </div>
  <div class="i-b">
    <div class="dot  act"></div>
    <div class="dot act dot1"></div>
    <div class="dot act dot1"></div>
  </div>
</section>
