<div class="subheader">
	<div class="subheader_menu">
		<div class="menu__item">
			<span class="icon icon-icon-car"></span >
			<p class="menu__title">Free shipping from 60€ (DE)</p>
		</div>
		<div class="menu__item">
			<span  class="icon icon-icon-hand-made"></span >
			<p class="menu__title">High quality hand-mand & ethical products</p>
		</div>
		<div class="menu__item">
			<span  class="icon icon-icon-guarantee"></span >
			<p class="menu__title">6 Months guarantee</p>
		</div>
		<div class="menu__item">
			<img src="img/svg/icons/icon-germany.svg" alt="">
			<p class="menu__title">Made in Germany</p>
		</div>
		<div class="menu__item">
			<span  class="icon icon-icon-heart"></span >
			<p class="menu__title">The favourite of partners</p>
		</div>
		<div class="menu__item">
			<span  class="icon icon-icon-replacement"></span >
			<p class="menu__title">Free shipping from 60€ (DE)</p>
		</div>
	</div>
</div>
