<div class="subheader">
  <div class="BgBar">
    <div class="multiple-items">
      <div class="inl"> <span class="icon-HBico1"></span> <span>Free shipping from 60€ (DE)</span> </div>
      <div class="inl"> <span class="icon-HBico2"></span> <span>High quality hand-mand & ethical products</span> </div>
      <div class=" inl"> <span class="icon-HBico3"></span> <span>6 Months guarantee</span> </div>
      <div class="inl"> <span class="icon-HBico4"></span> <span>The favourite of XXXX partners</span> </div>
      <div class="inl"> <span class="icon-HBico5"></span> <span>Made in Germany</span> </div>
      <div class="inl"> <span class="icon-HBico6"></span> <span>Free parts replacement service</span>
      </div>
    </div>
  </div>
</div>