$font-pages: Poppins;
$H1font: "Serif Display";
$BGLight-blue:#CEE8FF;
$BGBlue: #105393;
$BGPink: #FF8F8F;
$TextColorPink: #E86E6E;
$ButColorPeach: #FFE4BB;

body {
  font-family: $font-pages;
}
h1{
  font-family: $H1font;
  font-weight: 400;
  font-size: 64px;
}
.inl {
  display: inline-block;
}
.subheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: $ButColorPeach;
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 25px;
    height: 25px;
  }
    .slick-prev{
      left: 0;
      display: flex;
      border: none;
      background: none;
    }
    .slick-next{
      right: 0;
      display: flex;
      border: none;
      background: none;
    }
}
.BgBar {
  padding: 10px 20%;
  font-size: 14px;
  font-weight: 400;
  max-width: 80%;
}
.counter {
  background: $BGPink;
  border-radius: 50px;
  height: 24px;
  width: 24px;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 20px 10% 0px 10%;
  text-align: center;
  align-content: center;
  height: 120px;
  span {
    color: #fff;
  }
}
.m-l {
  margin-left: 48px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.slider {
  position: relative;
  display: block;
  height: 670px;
  background-image: url("../img/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-content: center;
  .inl {
    padding: 200px 5%;
    margin-top: auto;
    margin-bottom: auto;
  }
  h1 {
    font-family: "Serif Display";
    font-weight: 400;
    font-size: 64px;
    color: #fff;
  }
  button{
    width: 180px;
    height: 56px;
    border: 0px;
    border-radius: 38px;
    text-transform: uppercase;
    background: $ButColorPeach;
    margin: 0px 16px;
    color: $TextColorPink;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    &:hover{
      background: $TextColorPink;
      color: $ButColorPeach;
    }
  }
}

.PositionSlider {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.dot {
  display: inline-flex;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  margin: 3px;
}
.act{
  background: $BGPink;
}
.i-b{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.imag1 {
  position: absolute;
  left: 330px;
  top: 220px;
}
.imag2 {
  position: absolute;
  left: 1230px;
  top: 550px;
}
.imag3 {
  position: absolute;
  left: 1300px;
  top: 830px;
}
.sec2{
  position: relative;
  background: $BGLight-blue;
  background-image: url("../img/Vector176.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  display: inline-block;
  height: 1185px;
  color: $BGBlue;
  .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
  }
}
.sec2page{
  font-size: 32px;
  font-weight: 600;
}
.imag1sec2{
  position: absolute;
  left: 510px;
  top: 120px;
}
.sec2cir img{
  margin: 8px;
}
.sec2cir .img1{
  position: absolute;
  top: 270px;
  left: 150px;
}
.sec2cir .img2{
  position: absolute;
  top: 400px;
  left: 650px;
}
.sec2cir .img3{
  position: absolute;
  top: 350px;
  left: 1150px;
}
.sec2cir .img4{
  position: absolute;
  top: 660px;
  left: 350px;
}
.sec2cir .img5{
  position: absolute;
  top: 700px;
  left: 950px;
}
.sec3, .sec4{
  display: block;
  height: 765px;
  text-align: center;
  width: 90%;
  margin: 0% 5%;
}
.sec3 h1{
  color: $TextColorPink;
  padding-top: 120px;
}
.sec3 p{
  padding: 0px 120px;
}
.sec4grid{
  position: relative;
  .sec4grid{

    padding-right: 60px;
  }
  h1{
    color: $TextColorPink;
  }
  .row5{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 115%;
    align-content: center;
    margin: 0 -15%;
    padding: 0 36px;
    overflow: hidden;
  }
  .image{
    position: relative;
    width: 296px;
    height: 305px;
    align-content: center;
    padding: 5px;
  }
  .like{
    position: absolute;
    top: 0px;
    right: 15px;
  }
  button{
    width: 180px;
    height: 56px;
    border-radius: 38px;
    border: 1px solid $BGPink;
    background: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: $BGPink;
  }
}
.dot1{
  margin-top: 40px;
  opacity: 0.3;
}
.sec5{
  position: relative;
  display: block;
  text-align: center;
  p{
    font-weight: 600;
    font-size: 20px;
  }
}
.row2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.leftR, .rightR{
  height: 818px;
}
.leftR{
  display: inline-block;
  background: $BGPink;
  color: #ffffff;
}
.rightR{
  display: inline-block;
  background: $BGLight-blue;
  color: $BGBlue;
}
.LeftArrow{
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}
.LApos{
  left: 80px;
  top: 390px;
}
.RApos{
  right: 80px;
  top: 390px;
}
.MainR{
  width: 75%;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
.sec6{
  height: 1189px;
  background: $BGBlue;
  position: relative;
  text-align: center;
  align-content: center;
  h1{
    color: $ButColorPeach;
    text-align: center;
    padding-top: 90px;
  }
}
.pgn{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
  color: #6F92B4;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  .activity{
    color: $ButColorPeach;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: $ButColorPeach;
  }
  .p-40{
    padding: 0px 100px;
  }
  button{
    width: 180px;
    height: 56px;
    background: $BGPink;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 38px;
    margin-top: 40px;
  }
}
.imag1sec6{
  position: absolute;
  top: 260px;
  left: 465px;
}
.sld{
  width: 85%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.sec7{
  position: relative;
  height: 765px;
  background: $BGLight-blue;
  text-align: center;
  color: $BGBlue;
  h1{
    padding-top: 120px;
  }
  .image{
    width: 296px;
    height: 296px;
    padding-right: 88px;
    align-items: center;
  }
  .row5{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-content: center;
    overflow: hidden;
  }
  p{
    font-size: 32px;
    font-weight: 600;
  }
}
.imag1sec7{
  position: absolute;
  top: 80px;
  left: 940px;
}
.sec8{
  position: relative;
  text-align: center;
  h1{
    padding-top: 120px;
    color: $BGBlue;
  }
  p{
    font-size: 32px;
    font-weight: 600;
    color: $TextColorPink;
    width: 65%;
    margin: 0% auto;
  }
  span{
    font-size: 20px;
    font-weight: 600;
    color: $BGBlue;
    margin: 17px auto;
  }
}
.imag1sec8{
  position: absolute;
  top: 100px;
  left: 630px;
}
.imag2sec8{
  position: absolute;
  top: 100px;
  left: 130px;
}
.imag3sec8{
  position: absolute;
  top: 250px;
  right: 0px;
}
.gallery{
  display: flex;
  width: 100%;
  margin-top: 80px;
  justify-content: space-between;
  .image{
    width: 233px;
    height: 233px;
    padding: 0px 4px;
  }
}
.sec9{
  height: 720px;
  text-align: center;
  align-content: center;
  h1{
    color: $TextColorPink;
    padding-top: 120px;
  }
  .i-b{
    margin-bottom: 120px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.row4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 0px;
  justify-self: center;
  align-self: center;
  img{
    padding: 30px;
  }
}
.Padding{
  height: 541px;
  background: $BGPink;
  .content{
    width: 90%;
    height: 443px;
    margin-left: auto;
    margin-right: auto;
  }
  h2{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }
  p{
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }
  input{
    width: 296px;
    height: 48px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    padding-left: 16px;
  }
  button{
    background: $ButColorPeach;
    width: 316px;
    height: 48px;
    border: none;
    border-radius: 38px;
    font-size: 16px;
    font-weight: 600;
    color: $TextColorPink;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  span{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 24px;
  }
}
.footBar{
  border-top: 2px solid #F6ADAD;
  justify-content: center;
  text-align: center;
  padding-top: 34px;
  color: #ffffff;
}
.fb{
  padding-right: 10px;
}
.fs{
  padding-left: 25px;
}
